<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="shortcut icon" type="images/png" href="{{ url_for ('static', filename='images/png.png')}}">
    <title>Care-Match</title>
</head>
<body>
    <header class="nav">
        <div class="logo">
            <img src="{{ url_for('static', filename='images/png.png') }}" alt="" width="75" height="auto">
            <h1><span style="color: #0aa45f;">Care</span>-Match</h1>
        </div>
        <div class="buttons">
            <a href="/login" class="button">Log In</a>
            <a href="/register" class="button">Sign Up</a>
        </div>
    </header>

    <main>
        <section class="main-container">
            <div class="text-content">
                <h1>Welcome to Care-Match: Find Your Perfect Caregiver Anytime, Anywhere!</h1>
                <p>At Care-Match, we understand that finding the right caregiver is essential for your loved ones' well-being. Our platform connects you with compassionate, qualified caregivers tailored to meet your unique needs. Whether you need assistance at home or specialized care, we're here to help you make the perfect match.</p>
                <a href="#" class="watch-video-btn">Watch a video about us!</a>
            </div>
    
            <div class="image-content">
                <!-- Hide this image on larger screens -->
                <img src="{{ url_for('static', filename='images/mainpic.png') }}" alt="Caregiver and patient" class="hide-image">
            </div>
        </section>
    
        <!-- Full-width image for screens <= 1252px -->
        <img src="{{ url_for('static', filename='images/mainpic.png') }}" alt="Caregiver and patient" class="full-width-image">
    </main>
    
    <!-- <footer>
        <p>&copy; 2024 Care-Match. All rights reserved.</p>
    </footer> -->
</body>
</html>
